{% load staticfiles %}
<html>

<head>
  <title>Ploter.com</title>
</head>

<body background ="{%static "images/background.png" %}">

<h1 align="center" style="font-family: Script MT Bold;font-size:60px">CONTACT US</h1>
<h3 align="center"> <img src="{%static "images/gmail.jpg"%}" width="40px" height="30px" >Email -   at9882283682@gmail.com&nbsp; &nbsp; ,&nbsp;&nbsp;lavesh197@gmail.com</h3>
<h3 align="center"> <img src="{%static "images/fb.jpg"%}" width="45px" height="40px" >Facebook - <a href =" https://www.facebook.com/profile.php?id=100006421080087" target="_blank">  Ankit Thakur</a>&nbsp; &nbsp;, &nbsp;&nbsp;<a href = "https://www.facebook.com/lavesh.verma.58" target="_blank">Lavesh Verma</a></h3>
<h3 align="center"> <img src="{%static "images/insta1.jpg"%}" width="50px" height="50px" >Instagram - <a href ="https://www.instagram.com/mr_being_me_17/" target="_blank">  mr_being_me_17</a>&nbsp; &nbsp;, &nbsp;&nbsp;<a href = "https://www.instagram.com/laveshverma/" target="_blank">laveshverma</a></h3>


</body>

</html>
