{% load static %}
<html>

<head>
  <title>Serch Bus</title>
  
</head>
<body background ="{%static "images/background.png" %}">
<h1 align="center"  style="font-family: Script MT Bold;font-size:60px">SEARCH BUS</h1>
<h3 style="font-family: Script MT Bold;font-size:40px">For Government Buses:</h3>
    <h1 >   <input type="text" placeholder="From"style="height:50px;width:400px" >        <input type="text" placeholder="To" style="height:50px;width:400px" >
	
	
	<h3 style="font-family: Script MT Bold;font-size:40px">For Private Buses:</h3>
    <h1 >   <input type="text" placeholder="From"style="height:50px;width:400px" >        <input type="text" placeholder="To" style="height:50px;width:400px" >
</h1>
</body>     

</html>
